[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Uu]nityVS/

[Ee]xportedObj/

*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.pidb.meta

sysinfo.txt
